@import "tailwindcss";
@import url('./mixin.less');
@import url('../fonts/font.less');
html[theme='light']:root{
  --text-color:#242b3a;
  --text-color-2:#565656;
  --header-bg:#EBEBEB;
  --container-bg:#f8fafd;
  --primary-bg-0:#fff;
  --primary-bg-1:#F1F1F1;
  --primary-bg-2:#F5F5F5;
  --primary-bg-3:#fff;
  --primary-btn-bg:#F1F1F1;
  --primary-btn-hover-bg:#C6C6C6;
  --primary--login-bg:#FFFF;
  --server-info-bg:#f5f5f5;
  --border-color: rgba(229, 232, 240);
  --border-color-2: rgba(229, 232, 240,0.75);
  --scrollbar-track-color:rgb(136, 136, 136);
  --scrollbar-thumb-color:rgb(179, 177, 177);
  --scrollbar-thumb-hover-color:rgb(100, 100, 100);
  --scrollbar-thumb-active-color:rgb(68, 68, 68);
  --edit-icon-color: #979797;
  --light-border-color:rgba(220, 223, 230, 0.8);
  --el-color-primary:#3bd989;
  --el-color-success:#3bd989;
  --el-color-success-2: rgba(59, 217, 137, 0.25);
  --el-color-danger-2: rgba(245, 108, 108, 0.25);
  --el-color-disabled:var(--el-text-color-disabled);
  --aside-bg:#324149;
  --aside-bg2:#222a39;
  --aside-border:#f8fafd;
  --aside-menu-text:#86929a;
  --aside-menu-text-hover:#fff;
  --tunnel-item-bg:#f1f8fc;
  --link-bg:#eaf2fb;
  --link-icon:#2a3f48;
  --release-bg-0:#e2f9fb;
  --release-bg-1:#e9ecfd;
  --server-status-bg:rgb(179, 177, 177);
  --power-switch-bg:rgba(255, 255, 255, 0.5);
  --power-switch-shadow:rgba(0,0,0,0.12);
  --power-switch-shadow-success:var(--el-color-success-light-5);
  --power-switch-shadow-danger:var(--el-color-danger-light-5);
  --mask-bg-Color:rgba(255,255,255,0.9);
  --pay-result-text:#565656;
}
html[theme='dark']:root{
  --text-color:#f7f7f7;
  --text-color-2:#d3d3d3;
  --header-bg:#2e3031;
  --container-bg:#212223;
  --primary-bg-0:#212223;
  --primary-bg-1:#212223;
  --primary-bg-2:#252525;
  --primary-bg-3:#262729;
  --primary-btn-bg:#F1F1F1;
  --primary-btn-hover-bg:#212223;
  --primary--login-bg:#262729;
  --server-info-bg:#252525;
  --border-color: #2f2f2f;
  --border-color-2: rgba(47, 47, 47,0.75);
  --scrollbar-track-color:rgb(136, 136, 136);
  --scrollbar-thumb-color:rgb(179, 177, 177);
  --scrollbar-thumb-hover-color:rgb(100, 100, 100);
  --scrollbar-thumb-active-color:rgb(68, 68, 68);
  --edit-icon-color: #979797;
  --light-border-color:rgba(220, 223, 230, 0.8);
  --el-color-primary:#37d18a;
  --el-color-success:#37d18a;
  --el-color-success-2: rgba(59, 217, 137, 0.25);
  --el-color-danger-2: rgba(245, 108, 108, 0.25);
  --el-color-disabled:var(--el-text-color-disabled);
  --aside-bg:#212223;
  --aside-bg2:#212223;
  --aside-border:#2f2f2f;
  --aside-menu-text:#86929a;
  --aside-menu-text-hover:#fff;
  --tunnel-item-bg:#1f2021;
  --link-bg: #262729 ;
  --link-icon:#eaebec;
  --release-bg-0:#28393c;
  --release-bg-1:#2d303e;
  --server-status-bg: #d3d3d3;
  --power-switch-bg:rgba(33, 34, 35, 0.5);
  --power-switch-shadow:rgba(0,0,0,0.12);
  --power-switch-shadow-success:var(--el-color-success-dark-2);
  --power-switch-shadow-danger:var(--el-color-danger-dark-2);
  --mask-bg-Color:rgba(22,22,22,0.9);
  --pay-result-text:#565656;
  #app{
    .el-button--primary{
      &:hover{
        color: var(--text-color);
      }
    }
    .el-button--success{
      &:hover{
        color: var(--text-color);
      }
    }
    .el-button--danger{
      &:hover{
        color: var(--text-color);
      }
    }
    .el-button--warning{
      &:hover{
        color: var(--text-color);
      }
    }
  }
}
.my-btn-disabled{
  cursor: not-allowed;
  pointer-events: none;
}
.el-button:focus-visible{
  outline: none;
}

.my-info-btn-group.el-button-group .el-button--info:first-child{
  border-right: 1px solid var(--border-color);
}
.my-info-btn-group.el-button-group .el-button--info:last-child{
  border-left: 1px solid var(--border-color);
}
.no-border{
  border:none;
}
body,html{
  font-size: 4px;
}
#app{
  background-color: var(--primary-bg-0);
  font-family: "source han sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: var(--text-color);
  font-size: 14px;
  .el-input,.el-textarea{
    --el-input-focus-border-color:var(--el-color-primary);
  }
  .el-checkbox{
    --el-checkbox-input-border-color-hover:var(--el-color-primary);
    --el-checkbox-checked-bg-color:var(--el-color-primary);
    --el-checkbox-checked-input-border-color:var(--el-color-primary);
    --el-checkbox-checked-text-color:var(--el-color-primary);
  }
  .el-dialog__headerbtn:hover .el-dialog__close,.el-message-box__headerbtn:hover .el-message-box__close {
    color: var(--el-color-primary);
  }
  .el-button--primary{
    --el-button-active-color: var(--el-color-primary);
    --el-button-hover-link-text-color: var(--el-color-primary);
    &.is-plain{
      --el-button-bg-color: rgba(59, 217, 137, 0.1);
      --el-button-border-color: var(--el-color-primary);
    }
    &:hover:not(.is-disabled){
      background-color: var(--el-color-primary);
      border-color: var(--el-color-primary);
      color: var(--primary-bg-0);
    }
  }
  .el-button--success{
    --el-button-active-color: var(--el-color-success);
    --el-button-hover-link-text-color: var(--el-color-success);
    &.is-plain{
      --el-button-bg-color: rgba(59, 217, 137, 0.1);
      --el-button-border-color: var(--el-color-success);
    }
    &:hover:not(.is-disabled){
      background-color: var(--el-color-success);
      border-color: var(--el-color-success);
      color: var(--primary-bg-0);
    }
  }
  .el-button--danger{
    --el-button-active-color: var(--el-color-danger);
    --el-button-hover-link-text-color: var(--el-color-danger);
    &.is-plain{
      --el-button-bg-color: rgba(245, 108, 108, 0.1);
      --el-button-border-color: var(--el-color-danger);
    }
    &:hover:not(.is-disabled){
      background-color: var(--el-color-danger);
      border-color: var(--el-color-danger);
      color: var(--primary-bg-0);
    }
  }
  .el-button--warning{
    --el-button-active-color: var(--el-color-warning);
    --el-button-hover-link-text-color: var(--el-color-warning);
    &.is-plain{
      --el-button-bg-color: rgba(230, 162, 60, 0.1);
      --el-button-border-color: var(--el-color-warning);
    }
    &:hover:not(.is-disabled){
      background-color: var(--el-color-warning);
      border-color: var(--el-color-warning);
      color: var(--primary-bg-0);
    }
  }
  .el-button.is-disabled{
    --el-button-disabled-bg-color: rgba(59, 217, 137, 0.5);
    --el-button-disabled-border-color:transparent;
  }
}
#nprogress {
  display: none;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
*{
  box-sizing: border-box;
  &:focus-visible{
    outline: none;
  }
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active-color);
  border-radius: 5px;
}
.main{
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  .rounded-4xl{
    .el-input__wrapper{
      border-radius: 2rem;
    }
  }
}
.main-container{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.center-container{
  position: relative;
  background-color: var(--primary-bg-1);
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.my-messageBox{
  width: auto;
  padding: 14px 48px;
  .el-message-box__title{
    font-size: 14px;
    font-weight: bold;
  }
  .el-message-box__message{
    min-height:60px;
    display:flex;
    align-items:center;

  }
  .el-message-box__btns{
    justify-content: center;
  }
}
.login-register-form{
  .form-wrap{
    display: inline-block;
    width: 450px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--primary--login-bg);
    box-shadow: var(--el-box-shadow-light);
    border-radius: 4px;
  }
  .main{
    margin: 24px 24px 0 24px;
    width: unset;
    height: unset;
  }
  .title{
    text-align: center;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
  }
  .btn{
    width: 100%;
  }
  .el-form-item__label{
    font-size: 14px;
  }
  .footer{
    height: 48px;
    line-height: 48px;
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    background-color: var(--primary-bg-2);
    padding: 0 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--el-text-color-regular);
    cursor: pointer;
    a{
      color: var(--el-text-color-regular);
      text-decoration: none;
      &:hover{
        color: var(--el-color-info);
      }
    }
  }
}
.xgrok-client-notification{
  max-width: 200px;
}
