@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 4px; /*不确定有没有用*/
  font-weight: 400;
  color: var(--el-text-color-regular);
  background-color: #242424;

  --el-color-blue:#409EFF;
  --el-color-primary:#30a44b;
  --el-color-success:#30a44b;
  --el-color-primary-dark-2: #218538;
  --el-color-primary-light-3: #5bbc72
}
html,body,#app{
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.xxWeb{
  .transition-container{
    height: 100%;
  }
  .xxWeb-box[data-theme='vue-admin']{
    .app-main{
      background-color: #fafafa;
    }
    .xx-web-tab .el-tabs__item.is-active {
      background-color: var(--el-color-primary);
      border-color: var(--el-color-primary);
      color: #fff;
    }
    .dynamic-menu .el-menu-item.is-active {
      color: var(--el-color-primary);
    }
    .my-inner-form{
      .el-form-item{
        margin-bottom: 0;
      }
    }
  }
  .table-header{
    .el-table__cell{
      border-top: 1px solid var(--el-color-primary);
    }
  }
  .xx-web-tab{
    .el-tabs__nav{
      align-items: center;
    }
  }
}
