# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
build
frame
*.local
out

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
xgrok-client/project.js
xgrok-client/release-builds
xgrok-client/execute
xgrok-client/.env.development
xgrok-client/.env.production
xgrok-client/.env.browser
xgrok-rearend/.env.development
xgrok-rearend/.env.production
xgrok-rearend/.env.proxy
xgrok-rearend/web/.env.development
xgrok-rearend/web/.env.production
xgrok-rearend/web/project.js
xgrok-web/.env.production
xgrok-web/.env.development
xgrok-client/auto-imports.d.ts
xgrok-client/components.d.ts