@font-face {
  font-family: 'source han sans';
  font-style: normal;
  font-weight: 400;
  src: url(./Source_Han_Sans_SC_Regular.otf);
  font-display: fallback;
}

@font-face {
  font-family: 'source han sans';
  font-style: normal;
  font-weight: 500;
  src: url(./Source_Han_Sans_SC_Bold.otf);
  font-display: fallback;
}
